#simplenote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
    margin: 10px 0;
    border-radius: 25px;
    border: 2px solid #fff;
    background: rgb(190, 190, 190);
}

#completenote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
    padding: 15px;
    color: #000;
    margin: 10px 0;
    border-radius: 25px;
    border: 2px solid #fff;
    background: rgb(190, 190, 190);
}

#unchecked {
    text-decoration: none;
}

#notearea {
    border-bottom: 2px dashed #fff;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
} 

#importantnote {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #fff;
    background: #000;
}

#date {
    font-style: italic;
    font-size: 14px;
    padding: 0 10px;
    border-left: 1px solid rgb(92, 92, 92);
    margin: 0 0 0 10px;
}

input{
    cursor: pointer;
}

#add {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
}

#close {
    display: none;
}

#filterform {
    display: flex;
}

.error  {
    position: absolute;
    width: 300px;
    height: 100px;
    background: rgb(163, 163, 163);
    border: 2px solid #000;
    border-radius: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    z-index: 999;
    top: 35%;
    padding: 20px;
    left: 40%;
}

.ok {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 50px;
    color: #fff;
}

.ok:hover {
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    color: #000;
}

.top,
#main {
    width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 25px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(bg.png);
    font-family: 'Comfortaa', cursive;
    color: #fff;
}

#note {
    border-radius: 25px;
    border: 2px solid #000000;
    height: 30px;
    padding: 0 0 0 10px;
    outline: none;
    font-family: 'Comfortaa', cursive;
    background: opacity 0.4;
}

#send {
    height: 34px;
    border-radius: 25px;
    border: 2px solid #000000;
    background: #fff;
    padding: 0 10px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    outline: none;
}

input[type="checkbox"] {
    margin: 0 10px 0 20px;
}

#implabel:hover {
    cursor: pointer;
}

.filterblock {
    margin: 0 20px 0 0;
}

label:hover {
    cursor: pointer;
}